#logo {
    width: 75%;
    margin-left: 15vw;
}

h1 {
    text-align: center;
    color: #06492a;
    font-family: Arial;
}

#text {
    margin-left: 40vw;
    color: rgb(195, 44, 201);
    font-family: Arial;
}
    
div {
    color: blue;
    font-family: Arial;
}

#image {
    width: 200px;
    height: auto;
    margin-top: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

button {
    margin-left: 40vw;
    padding: 8px 15px;
    font-size: 18px;
    border-radius: 10px;
    cursor:pointer;
}